* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

table {
    border-radius: 25px;
    margin: 10% auto;
    background-color: antiquewhite;
    padding: 20px
}

td {
    width: 60px;
}

button {
    width: 100%;
    padding: 10px;
    font-family: serif;
    font-size: 20px;
    background-color: black;
    color: white;
}

.clear-operation {
    background-color: crimson;
}

.first-button-row {
    margin-top: 10px;
}

#displays {
    font-family: monospace;
    text-align: right;
    padding: 5px 5px;
    background-color: white;
    border-radius: 5px;
}

#display {
    font-size: 40px;
}

#history {
    font-size: 18px;
}

#equals {
    height: 98px;
}
